APP_NAME=BestChoice PC Backend
DB_URI=mongodb://127.0.0.1:27017
MONGODB_DATABASE=bestchoice_pc
BUSINESS_TIMEZONE=America/Manaus
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_DEFAULT_CHANNEL=@pcbuildwizard
TELEGRAM_SESSION_PATH=.telegram/session
